/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.search-modal-input {
    padding-bottom: 18px;
}

.search-modal-input input {
    width: 100%;
}

.search-modal-button {
    position: absolute;
    margin-left: -50px;
    left: 50%;
    width: 110px;
    bottom: 5px;
}